:root {
    /* BACKGROUNDS*/
    --bg-main: #0B1220; 
    --bg-right: #111C2E;
    --bg-input: #172035;
    --bg-modal: #1a1f2b;

    /* TEXT */
    --text-main: #EBE5D5;
    --text-muted: #7A90AA;
    --text-gold: #E8A44A;
    --text-placeholder: #3D5470;
    --text-button: #1A1A1A;
 
    /* ACCENTS */
    --accent-gold: var(--text-gold);
    --accent-gold-hover: #EDA94F;
    --border-main: rgba(255, 255, 255, 0.07);
    --border-focus: var(--text-gold);
    --progress-track: rgba(255, 255, 255, 0.05);

    /* LESSON TYPES & FORMATS */
    --color-online: #3498db;
    --color-offline: #2ecc71;
    --color-lecture: #9b59b6;
    --color-practical: #e67e22;
    --color-exam: #e74c3c;

    /* STATUS */
    --color-error: #802a2a;
    --color-success: #106e52;

    /* ШРИФТИ */
    --font-heading: 'Cormorant Garamond', serif;
    --font-main: 'DM Sans', sans-serif;
}

.light-theme {
    /* BACKGROUNDS */
    --bg-main: #F8F4EA;
    --bg-right: #FFFDFA;
    --bg-input: #f8f2e9;

    /* TEXT */
    --text-main: #0B1220;
    --text-muted: #586c86;
    --text-gold: #C88A2F;
    --text-placeholder: #9AA8B8;
    --text-button: #000;

    /* ACCENTS */
    --accent-gold: var(--text-gold);
    --accent-gold-hover: #D8953F;
    --border-main: rgba(11, 18, 32, 0.1);
    --border-focus: var(--text-gold);
    --progress-track: #e0e0e0;

    /* STATUS */
    --color-error: #D64545;
    --color-success: #2E8B6B;
}